<html ng-app="app1">
<head>
  <title> user form </title>
</head>
<body>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="myefforts1.js"></script>
  <div ng-controller="UserForm">
    <label> User Name </label>
    <input type="text" ng-model="name" ng-required="true" ng-minlength="2">
    <h1> {{content.Person_Details.e_mail}} </h1>
    <h2> Personal Details : </h2>
    <label> Email: </label>
    <input type="text" ng-model="email" ng-required="true" ng-minlength="2"}><br><br>
    <label> When you were born : </label>
    <input type="date" ng-model="dob" ng-required="true" placeholder="yyyy-MM-dd" ng-minlength="2"><br><br>
    <label> Where do you live : </label>
    <textarea type="text" ng-model="place" ng-required="true" ng-minlength="2"></textarea><br><br>
    <label> Nationality :</label>
    <input type="text" ng-model="nationality" ng-required="true" ng-minlength="2"><br><br>
    <label> Marital status </label>
    <input type="text" ng-model="maritalStatus" ng-required="true" ng-minlength="2"><br><br>

    <h2> Educational Details : </h2>
    <h3> High School Details: </h3>
    <label> School : </label>
    <input type="text" ng-model="hSchoolName" ng-required="true" ng-minlength="2"><br><br>
    <label> Year of passing : </label>
    <input type="text" ng-model="hSchoolTime" ng-required="true" ng-minlength="2"><br><br>
    <label> Place : </label>
    <input type="text" ng-model="hSchoolPlace" ng-required="true" ng-minlength="2"><br><br>
    <label> Percentage Scored :</label>
    <input type="text" ng-model="hSchoolPercentage" ng-required="true" ng-minlength="2"><br><br>


    <h2> Experience : </h2>
    <h3> Projects undertaken: </h3>
    <label> Title: </label>
    <input type="text" ng-model="title" ng-required="true" ng-minlength="2"><br><br>
    <label> Description : </label>
    <input type="text" ng-model="description" ng-required="true" ng-minlength="2"><br><br>
    <label> Duration : </label>
    <input type="text" ng-model="duration" ng-required="true" ng-minlength="2"><br><br>
    <button type="submit and view profile" ng-click="getData()" class="btn btn-default">Get Data and view profile</button>
    </div>
</body>
</html>
